.dropbtn{
    background-color: brown;
    color: white;
    font-size: 16px;
    border: 16px;
    text-decoration: none;
}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown-content{
    display: block;
    position: absolute;
    
}
.dropdown-content a{
    


}
.dropdown a.hover {background-color: tomato;}
.dropdown:hover.dropdown-content{display: block;}
.dropdown.hover .dropbtn-content{background-color: thistle;}
